<%- include("../partials/top") %>
<%- include("../partials/vernav") %>
<%- include("../partials/header") %>


 <h2 class="orderSumHeader" style="text-align: center; margin:20px">All Users</h2>
<div class="allusersDiv">
   
    <div class="allusers">

        
        <div> <h3>Admin </h3></div>
        <div> <h3>Staff </h3></div>
        <div> <h3> Trainee </h3></div>
        <div> <h3> Managers </h3></div>
        <div> <h3 style="font-weight: bolder;">Total </h3></div>

        <div> <h3> <%= adminCounter %> </h3></div>
        <div> <h3> <%= staffCounter %>  </h3></div>
        <div> <h3> <%= traineeCounter %>  </h3></div>
        <div> <h3> <%= managerCounter %>   </h3></div>
        <div> <h3 > <%= user.length %> </h3></div>
    </div>

</div>

<div class="tDiv">
    <% if (user.length > 0) { %>
    
            <table>
                <tr>

                    <th>Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
                <% for (var people = 0; people < user.length; people++) { %>

                <tr>

                    <td><%= user[people].name %></td>
                    <td><%= user[people].role %> </td>
                    <td><%= user[people].email %></td>
                    <td><button class="btn">Approve</button></td>
                    <td>
                        <form action="/admin/deleteuser/<%= user[people]._id %> " method="GET">
                            <button id="<%= user[people]._id %>" type="submit" class="btn">Remove</button>
                        </form>
                    </td>
                </tr>
                <% } %> 
               
            </table>
        
    <% } %> 

</div>


<%- include("../partials/bottom") %>