<%- include("../partials/top") %>
<%- include("../partials/header") %>
<%- include("../partials/vernav") %>
 <h2 class="orderSumHeader" style="text-align: center; margin:20px">All Users</h2>
<div class="allusersDiv">
   
    <div class="allusers">

        
        <div> <h3>Admin </h3></div>
        <div> <h3>Staff </h3></div>
        <div> <h3> Managers </h3></div>
        <div> <h3>Total </h3></div>

        <div> <h3> 25 </h3></div>
        <div> <h3> 25 </h3></div>
        <div> <h3> 25 </h3></div>
        <div> <h3> <%= products.length  %> </h3></div>

    </div>

</div>


<%- include("../partials/bottom") %>