<%- include("../partials/top") %>
<%- include("../partials/header") %>


<section class="mt-5">
    <% if (menu.length > 0) { %>
        <ul class="cart__item-list">
            <% menu.forEach(p => { %>
                <li class="cartItem">
                    <div class="imgDiv">
                        <a href="/products/<%= p.menuId %>" class="img_link"><img src="<%= p.menuId.foodimg %>"></a>
                    
                        <h4><%= p.menuId.foodName %></h4> 
                    </div>

                    <div class="quanDiv">
                        
                       <p><%= p.quantity %></p> 
                    </div>
                    <div class="noteDiv">
                        <input type="text" name="text" placeholder="Add note here">
                    </div>
                    <div class="rmDiv">
                        <form action="/food/deletecart" method="POST">
                            <input type="hidden" value="<%= p.menuId._id %>" name="menuId">
                            
                            <button class="btn danger" type="submit"><i class="fa fa-trash"></i></button>
                        </form>
                    </div>
                </li>
                
            <% }) %>
        </ul>
        <hr>
        <div class="centered">
           
        </div>

        <div class="col-lg-4 offset-lg-4">
            <div class="checkout">
                <form action="/food/checkout" method="POST">

                    <button type="submit" class="proceed-btn">Proceed to Checkout</button>
                </form>
                
                <!-- <a href="../food/checkout" class="proceed-btn">Proceed to Checkout</a> -->
            </div>
        </div>
        
    <% } else { %>
        <h1 style="text-align:center;">No Products in Cart!</h1>
    <% } %>

</section>


<%- include("../partials/bottom") %>