<%- include("../partials/top") %>
<%- include("../partials/mandash") %>
<%- include("../partials/header") %>

<div class="allusersDiv">
   
    <div class="allusers">

        
        
        <div> <h3 style="font-weight: bolder;">Total </h3></div>
        <div> <h3 > <%= order.length %> </h3></div>
    </div>

</div>

<div class="tDiv">
    <% if (order.length > 0) { %>
    
            <table>
                <tr>

                    <th>Name</th>
                    <th>Date</th>
                    <th>Meal</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                <% order.forEach(order => { %>

                <tr>
                    <td><%= order.user.name %></td>
                    <td><%= order.date %> </td>
                     
                    <% order.menu.forEach(meal => { %> 
                        <td><%= meal.menu.foodName %> </td>
                        <td><%= meal.quantity %> </td>
                      <% }) %>
                    <!-- <td><button class="btn">Approve</button></td> -->
                    <td>
                        <form action="/manager/deleteorder/<%= order._id %> " method="GET">
                            <button id="<%= order._id %>" type="submit" class="btn">Remove</button>
                        </form>
                              
                    </td>
                </tr>
                <% }) %> 
               
            </table>
        
    <% } %> 

</div>